.chat-message-container{
    padding: 1em;
    border-radius: 1em;
    width: fit-content;
    max-width: 50%;
}

.outgoing-color {
    background-image: linear-gradient(135deg, #0ee957 0%, #17dfba 100%);
    box-shadow: 0 4px 12px rgba(67, 233, 123, 0.3);
}

.incoming-color {
    background-image: linear-gradient(135deg, #4500e6 0%, #943479 100%);
    box-shadow: 0 4px 12px rgba(161, 140, 209, 0.3);
}